<form action="/registrar" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome" placeholder="Digite seu nome" required>
    <label for="sobrenome">Sobrenome</label>
    <input type="text" name="sobrenome" placeholder="Digite seu sobrenome">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Digite seu email" required>
    <label for="senha">Senha</label>
    <input type="password" name="senha" placeholder="Digite sua senha" required>
    <button type="submit">Registrar</button>
</form>